@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
  width: 8px;
  height: 0;
  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
    background:rgb(0, 0, 0);
  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  ::-webkit-scrollbar-thumb {
  background: #3bf391;
  border: 2px solid #000000;
  border-radius: 5px;
  }

::selection {
  background: #00000054;
  color: #00FF85;
}

.banner-1 {
  @apply px-5  pt-5 md:pt-10 3xl:px-36 2xl:px-36 xl:px-28 lg:px-24 md:px-16;
  background-image: url('../src/assets/black_plate.gif');
}

.banner-2 {
  @apply px-5  pt-5 md:pt-10 3xl:px-36 2xl:px-36 xl:px-28 lg:px-24 md:px-16;
  background-color: #7c54ff;
background-image: linear-gradient(132deg, #00FF85 0%, #7c54ff 100%);

  
}

.hello-button {
  background-color: #7c54ff;
  color: #302650;
  font-family: 'Fugaz One', cursive;
}
.menu-button {
  @apply 3xl:text-2xl 2xl:text-2xl xl:text-xl lg:text-xl md:text-xl ;
  color: #aa91fc;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  
  
}

.title-name h4{
  font-family: 'Fugaz One', cursive;
  background: -webkit-linear-gradient(#00FF85, #5656FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.heading5 {
  font-family: 'Fugaz One', cursive;
  color: #242424;
  @apply md:text-5xl text-xl;
}


.heading3 {
  font-family: 'Fugaz One', cursive;
  background: -webkit-linear-gradient(#00FF85, #7a32ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply md:text-5xl text-xl;
}

.project-title{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.project-title-1 {
  font-family: 'Fugaz One', cursive;
  color: #242424;
  @apply  text-3xl md:text-4xl ;
}

.card {
  @apply bg-white rounded-2xl md:flex place-items-center my-20 shadow-md;
}
.card-image {
  @apply md:w-1/2 md:rounded-r-2xl md:rounded-l-none rounded-b-2xl flex;
}

.footer a{
  
  margin: 0 3px;
  padding: 6px;
  background-color: #7c54ff;
  transition-delay: 0.05s;
}

.footer a:hover{
  background-color: #000;
}

.banner-2 .focus-job{
  font-family: 'Fugaz One', cursive;
  color: #242424;
}

.card .card-image img{
  border-radius: 15px;
}



.banner-1 h2{
  font-size: 40px;
  font-family: 'Fugaz One', cursive;
  background: -webkit-linear-gradient(#00FF85, #5656FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .h-850 {
    height: 900px;
  }
}


@media (max-width: 600px){
  .banner-2 .flutter{
    margin: 0 auto;
    max-width: 200px;
  }
}


.banner-2 .flutter{
  width: 400px;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%, 100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-50px);
    }
}