@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
  width: 8px;
  height: 0;
  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
    background:rgb(0, 0, 0);
  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  ::-webkit-scrollbar-thumb {
  background: #76f9db;
  border: 2px solid #171717;
  border-radius: 5px;
  }

.banner-1 {
  @apply px-5  pt-5 md:pt-10 3xl:px-36 2xl:px-36 xl:px-28 lg:px-24 md:px-16;
  background-image: url('../src/assets/black_plate.gif');
}

.banner-2 {
  @apply px-5  pt-5 md:pt-10 3xl:px-36 2xl:px-36 xl:px-28 lg:px-24 md:px-16;
  background-color: #7c54ff;
  
}
.bg-yellowis {
  background-color: red;
}
.hello-button {
  background-color: #76f9db;
}
.menu-button {
  @apply 3xl:text-2xl 2xl:text-2xl xl:text-xl lg:text-xl md:text-xl  font-bold font-work_sans hover:text-black;
  color: #76f9db;
  
}


.heading3 {
  color: #7c54ff;
  @apply md:text-5xl text-xl font-bold font-work_sans tracking-wide;
}

.project-title {
  @apply text-gray-700 text-3xl md:text-4xl font-work_sans tracking-wide font-bold;
}

.card {
  @apply bg-white rounded-2xl md:flex place-items-center my-20 shadow-md;
}
.card-image {
  @apply md:w-1/2 md:rounded-r-2xl md:rounded-l-none rounded-b-2xl flex;
}

.footer a{
  margin: 0 3px;
  padding: 6px;
  background-color: #7c54ff;
  transition-delay: 0.05s;
}

.footer a:hover{
  background-color: #000;
}


.footer svg{

}

@layer utilities {
  .h-850 {
    height: 900px;
  }
}
